body{
margin: 0;
background-color:#F3F4E9;
}

/* navigations-bar css påbegyndes */

.navigations-elementer{
background-image: url(../images/backgroundfooterandheader.PNG);   
background-repeat: no-repeat;
background-size: cover;
height: auto;
display: flex;
flex-flow: row wrap;
justify-content: space-between;

}

.logo-link{
width: 120px;
border-radius: 100px;
margin-top: 5px;
margin-left: 5px;


}


.logo-link a{
width: 1%;     
}

.navigations-elementer li {
display: inline-flex;
}

.liste-knapper li, .liste-knapper a, .liste-knapper button{
margin-top: 18px;
color: black;
padding-right: 10px;
text-align: center;
list-style-type: none;
text-decoration: none;
border-radius: 10px;
font-size: 25px;
font-family: cursive;
}


.liste-knapper li a button:hover{
background-color: grey;
transition: 0.6s;
}

.liste-knapper li a button{
 margin-left:50px;   
}


.sprog-knapper img{
width: 50px;
border-radius: 150px;
height: auto;
margin-top: 45px;
margin-right: 10px;


}

/* css af navigations-baren afsluttet */

.banner img{
width: 99.99%;
margin: 0;
}
/* css af banner/det store billede afsluttes; */

/* nyheds-sektionen påbegyndes */

/* første nyheds-boks styles */
.nyhederne{
margin-left: 20px;

font-family: cursive;
margin-top: 20px;
display: inline-flex;
}

.nyheder {
border: 1px solid black;
display: flex;
flex-flow: row wrap;
width: 70%;
border-radius: 30px;
margin-left: 20px;
}
.nyheder img{
width: 30%;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
border-radius: 30px;
}

.nyheder h2{
margin-left: 350px;
margin-top: -280px;
}

/* første nyheds-boks afsluttet */

/* anden nyheds-boks styling startes */

.nyheder1{
border: 1px solid black;
display: flex;
flex-flow: row wrap;
width: 70%;
border-radius: 30px;
margin-left: 20px;
margin-top: 20px;
}

.nyheder1 img {
width: 30%;
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
border-radius: 30px;
}

.nyheder1 h2{
margin-left: 350px;
margin-top: -170px;
}

/* Anden nyheds-boks styling afsluttet */

/* footer-styling påbegyndes*/

.footer-elementer{
background-color: #F4E424;
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.footer-elementer h2{
margin-left: 20px; 

}

.footer-ting img{
width: 80px;
height: 80px;
background-color: #F4E424;
border-radius: 70px;
}
